<web-app>
    <servlet>
        <servlet-name>ClassifyServlet</servlet-name>
        <servlet-class>cc.mallet.classify.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassifyServlet</servlet-name>
        <url-pattern>/classify</url-pattern>
    </servlet-mapping>
</web-app>
